@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TSD2491-Oblig1.</h1>

    <p>
        <a asp-controller="Bruker" asp-action="Index" class="btn btn-primary">
            Gå til Bruker-Registrering
        </a>
    </p>
</div>
